<!--The content below is only a placeholder and can be replaced.-->

<h1>
  {{title}}
</h1>

<img [src]="foto">

<button (click)="enviarMsg()">Enviar Alerta</button>
<hr>
<app-lista-pessoa></app-lista-pessoa>
<hr>
<app-interpolation-binding></app-interpolation-binding>
<hr>
<app-property-binding></app-property-binding>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-switch-case></app-ng-switch-case>
<hr>
<app-ng-for></app-ng-for>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-content>
    <div class="titulo">
      meu título passado
    </div>
    <div class="corpo">
      meu conteúdo com select
    </div>
    <div class="corpo">
      segundo conteúdo passado
    </div>
</app-ng-content>
<hr>
<app-event-binding></app-event-binding>
<hr>
<app-input-output [menu]="desenvolvimento" (nomeClicado)="valorPassado($event)"></app-input-output>
<p [hidden]="!valor">valor passado @output "{{ valor }}"</p>